 body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;

 }

 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px, 20px, 10px, 20px;
    gap: 10px;
 }

 .logo img {
    width: 100px;
}

 .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
 }

 .nav li {
    margin-left: 10px;
}

.hero {
display: flex;
padding: 50px;
background-image: url(./Images/Hero-image.png);
background-size: cover;
width: 92.6%;
height: 650px;
}

.hero-text {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 40px;
gap: 32px;
position: absolute;
width: 400px;
height: 290px;
left: 0px;
top: 223px;
background: #FFFFFF;
border-radius: 0px 60px 60px 0px;
}

.hero-text h1 {
width: 305px;
height: 120px;
font-weight: 700;
font-size: 50px;
line-height: 55px;
color: #181A18;
}

.hero-text p {
width: 325px;
height: 72px;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #181A18;
margin-top: -60px;
}

/*.hero-image img {
max-width: 104%;
margin: 0;
padding: 0;
}*/

.future {
display: flex;
padding: 50px;
background: white;
margin-top: 100px;
}

.future-images {
display: grid;
grid-template-columns: 1fr 1fr;
flex: 1;
}

.future-text {
display: flex;
flex-direction: column;
flex: 1;
padding: 40px;
justify-content: center;
border-radius: 0px 60px 60px 0px;
background-color:#F2F0F2;
}

.future-text h2 {
width: 480px;
height: 54px;
text-align: center;
font-size: 48px;
margin-bottom: 0;
}

.future-text p {
width: 440px;
height: 60px;
font-size: 16px;
line-height: 20px;
margin-left: 33px;
}

.feature-text {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 80px;
}

.feature-text h2 {
width: 847px;
height: 108px;
text-align: center;
font-size: 48px;
margin-bottom: 10px;
}

.feature-text p {
width: 847px;
height: 48px;
text-align: center; 
font-size: 18px;
line-height: 24px;
}

.feature-services {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 30px;
gap: 20px;
}

.feature-service {
display: flex;
flex: 1;
flex-direction: column;
align-items: flex-start;
padding: 32px 40px;
gap: 16px;
width: 305px;
height: 248px;
background: #E2F1E8;
border-radius: 30px;
}

.feature-service h3 {
width: 225px;
height: 32px;
font-size: 24px;
line-height: 32px;
margin-bottom: 0;
margin-top: 0;
}

.feature-service p {
width: 225px;
height: 60px;
font-size: 16px;
line-height: 20px;
margin-top: 0;  
}

.feature-service img {
margin-top: 32px;
margin-bottom: 16px;
height: 50px;
}

@media (max-width: 768px) {
.hero {
flex-direction: column;
}

.hero-text {
width: 350px;
height: 270px;
}

.hero-text h1 {
font-size: 45px;
line-height: 50px;
}

.future {
padding: 25px;
}

.future-images {
width: 350px;
}

.future-images img {
width: 100%;
height: 105px;
}

.future-text {
width: 350px;
padding: 25px;
}

.future-text h2 {
font-size: 35px;
width: 350px;
margin-top: 15px;
}

.future-text p {
width: 330px;
font-size: 14px;
margin-left: 15px;
line-height: 18px;
margin-top: 0;
}

.feature-text h2 {
width: 600px;
font-size: 35px;
margin-bottom: 0;
margin-top: 50px;
}

.feature-text p {
width: 700px;
font-size: 14.75px;
line-height: 18px;
margin-top: -10px;
}

.feature-services {

}

.feature-service {
width: 85px;
height: 80px;
gap: 14px;
padding-bottom: 50px;
}

.feature-service img {
width: 20px;
margin-top: -10px;
margin-left: -20px;
}

.feature-service h3 {
width: 150px;
font-size: 16px;
margin-left: -20px;
margin-top: -20px;
}

.feature-service p {
width: 150px;
font-size: 12.5px;
line-height: 15px;
margin-left: -20px;
margin-top: -10px;
}
}


